body {
    margin-left: 78px;
}
.container {
    clear: left;
}
header h1 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 2em;
    border-bottom: 0;
}
header h1 img {
    margin-right: 5px;
    vertical-align: bottom;
}
header h1 a {
    text-decoration: none;
}
h1 {
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-weight: 700;
}
h1 a {
    text-decoration: none;
}
h2 {
    line-height: 2;
}
h3 {

}
a {
    text-decoration: underline
}
p {
    margin-bottom: 1.8em;
}
p, li {
    line-height: 1.8;
}
.main .icon {
    display: block;
    width: 48px;
    line-height: 48px;
    color: #fff;
    position: absolute;
    left: 0;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}
.icon-iplayer {
    background: #f54997;
}

#page-navigation {
    border: 1px solid #ccc;
    border-width: 1px 0;
    padding: 10px 0;
    overflow: hidden;
    margin: 20px 0;
    font-weight: 700;
}
#page-navigation .left {
    float: left;
    width: 50%;
}
#page-navigation .right {
    float: right;
    text-align: right;
    width: 50%;
}
#page-navigation a {
    text-decoration: none;
}
.meta {
    font-size: 13px;
    margin-bottom: 0;
    color: #666;
}
em {
    font-weight: 700;
    font-style: normal;
}
.footer {
    font-size: 13px;
    margin-top: 30px;
}
ol, ul {
    margin-bottom: 1.8em;
    padding-left: 40px;
}
ul {
    list-style-type: disc;
}
ol {
    list-style-type: decimal;
}
#post-list {
    padding-left: 0;
    list-style-type: none;
}
li {
    margin: 0 0 0.9em;
}
li p {
    margin-bottom: 0;
}
#post-list li {
    border-bottom: 3px dashed #eee;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
#post-list li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
#post-list a {
    text-decoration: none;
}
table {
    margin-bottom: 1.8em;
}
th, td {
    padding: 0.75em;
}
code {
    margin: 0 2px;
    padding: 4px 3px 2px;
    border: 1px solid #ddd;
    background: #f8f8f8;
    border-radius: 3px;
    white-space: nowrap;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: 0.9em;
}

#disqus_thread {
    max-width: 40em;
}
