/**
 * Tviplayericons. Based on:
 * http://www.bbc.co.uk/modules/gelstyles/font
 *
 */
@font-face {
    font-family: 'tviplayericons';
    src:url('/fonts/tviplayericons.eot');
    src:url('/fonts/tviplayericons.eot?#iefix') format('embedded-opentype'),
        url('/fonts/tviplayericons.ttf') format('truetype'),
        url('/fonts/tviplayericons.woff') format('woff'),
        url('/fonts/tviplayericons.svg#tviplayericons') format('svg');
    font-weight: normal;
    font-style: normal;
}

body .icon {
    font-family: 'tviplayericons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Force hardware acceleration for better rendering on windows & Chrome */
    -webkit-transform: translateZ(0);
}
.icon-leading:before {
  margin-right: 8px;
}
.icon-trailing:before {
  margin-left: 8px;
}
.icon-windows:before {
    content: "\e600";
}
.icon-apple:before {
    content: "\e601";
}
.icon-days:before {
    content: "\e602";
}
.icon-offline:before {
    content: "\e603";
}
.icon-share:before {
    content: "\e200";
}
.icon-recommend:before {
    content: "\e201";
}
.icon-comments:before {
    content: "\e202";
}
.icon-blog:before {
    content: "\e203";
}
.icon-twitter:before {
    content: "\e300";
}
.icon-facebook:before {
    content: "\e301";
}
.icon-google-plus:before {
    content: "\e302";
}
.icon-google:before {
    content: "\e303";
}
.icon-uniF000:before {
    content: "\f000";
}
.icon-uniF001:before {
    content: "\f001";
}
.icon-iplayer:before {
    content: "\e000";
}
.icon-iplayer-radio:before {
    content: "\e001";
}
.icon-previous:before {
    content: "\e002";
}
.icon-up:before {
    content: "\e003";
}
.icon-down:before {
    content: "\e004";
}
.icon-next:before {
    content: "\e005";
}
.icon-tobottom:before {
    content: "\e006";
}
.icon-totop:before {
    content: "\e007";
}
.icon-zoomin:before {
    content: "\e008";
}
.icon-search:before {
    content: "\e009";
}
.icon-zoomout:before {
    content: "\e00a";
}
.icon-print:before {
    content: "\e00b";
}
.icon-print-invert:before {
    content: "\e00c";
}
.icon-yes:before {
    content: "\e00d";
}
.icon-no:before {
    content: "\e00e";
}
.icon-add:before {
    content: "\e00f";
}
.icon-help:before {
    content: "\e010";
}
.icon-info:before {
    content: "\e011";
}
.icon-alert:before {
    content: "\e012";
}
.icon-expires:before {
    content: "\e013";
}
.icon-duration:before {
    content: "\e014";
}
.icon-alarm:before {
    content: "\e015";
}
.icon-point:before {
    content: "\e02c";
}
.icon-upload:before {
    content: "\e02d";
}
.icon-download:before {
    content: "\e02e";
}
.icon-finder:before {
    content: "\e02f";
}
.icon-stations:before {
    content: "\e030";
}
.icon-quote:before {
    content: "\22";
}
.icon-location:before {
    content: "\e024";
}
.icon-load:before {
    content: "\e025";
}
.icon-settings:before {
    content: "\e026";
}
.icon-embed:before {
    content: "\e027";
}
.icon-external:before {
    content: "\e028";
}
.icon-traffic:before {
    content: "\e029";
}
.icon-refresh:before {
    content: "\e02a";
}
.icon-link:before {
    content: "\e02b";
}
.icon-countdown:before {
    content: "\e016";
}
.icon-new:before {
    content: "\e01e";
}
.icon-lock:before {
    content: "\e01b";
}
.icon-unlock:before {
    content: "\e01c";
}
.icon-vocab:before {
    content: "\e01f";
}
.icon-degraded:before {
    content: "\e020";
}
.icon-calendar-mini:before {
    content: "\e021";
}
.icon-calendar:before {
    content: "\e022";
}
.icon-mail:before {
    content: "\e023";
}
.icon-home:before {
    content: "\e01d";
}
.icon-grid:before {
    content: "\e017";
}
.icon-chapters:before {
    content: "\e018";
}
.icon-list:before {
    content: "\e019";
}
.icon-listthumb:before {
    content: "\e01a";
}
.icon-playlister-add:before {
    content: "\e031";
}
.icon-live:before {
    content: "\e100";
}
.icon-subtitles:before {
    content: "\e101";
}
.icon-ws:before {
    content: "\e102";
}
.icon-sd:before {
    content: "\e103";
}
.icon-hd:before {
    content: "\e104";
}
.icon-bsl:before {
    content: "\e105";
}
.icon-ad:before {
    content: "\e106";
}
.icon-3d:before {
    content: "\e107";
}
.icon-tv:before {
    content: "\e108";
}
.icon-radio:before {
    content: "\e109";
}
.icon-mobile:before {
    content: "\e10a";
}
.icon-desktop:before {
    content: "\e10b";
}
.icon-game:before {
    content: "\e10c";
}
.icon-tablet:before {
    content: "\e10d";
}
.icon-quiz:before {
    content: "\e10e";
}
.icon-guidance:before {
    content: "\e10f";
}
.icon-record:before {
    content: "\e110";
}
.icon-listen:before {
    content: "\e111";
}
.icon-play:before {
    content: "\e112";
}
.icon-pause:before {
    content: "\e113";
}
.icon-rewind:before {
    content: "\e114";
}
.icon-forward:before {
    content: "\e115";
}
.icon-restart:before {
    content: "\e116";
}
.icon-image:before {
    content: "\e117";
}
.icon-document:before {
    content: "\e118";
}
.icon-slideshow:before {
    content: "\e119";
}
.icon-activity:before {
    content: "\e11a";
}
.icon-360:before {
    content: "\e11b";
}
.icon-podcast:before {
    content: "\e11c";
}
.icon-newsletter:before {
    content: "\e11d";
}
.icon-rss:before {
    content: "\e11e";
}
.icon-fullscreen:before {
    content: "\e11f";
}
.icon-expand:before {
    content: "\e120";
}
.icon-popout:before {
    content: "\e121";
}
.icon-mute:before {
    content: "\e122";
}
.icon-music-on:before {
    content: "\e123";
}
.icon-music-off:before {
    content: "\e124";
}
.icon-iplayer2:before {
    content: "\e032";
}
.icon-iplayer-radio2:before {
    content: "\e033";
}
.icon-uniF002:before {
    content: "\f002";
}
