{% if post.category == "iplayer" %}
<span class="icon icon-iplayer"></span>
{% endif %}
<p class="meta">By <em>{{ post.author }}</em> on <em>{{ post.date | date_to_long_string }}</em> in <em>{{post.category}}</em></p>
<h1>{{ post.title }}</h1>
{{ content }}


<div id="page-navigation"> 
    <div class="left"> 
    {% if post.previous.url %} 
        <a href="{{post.previous.url}}" title="Previous Post: {{post.previous.title}}">&laquo; {{post.previous.title}}</a> 
    {% endif %} 
    </div> 

    <div class="right"> 
    {% if post.next.url %} 
        <a href="{{post.next.url}}" title="next Post: {{post.next.title}}">{{post.next.title}} &raquo; </a> 
    {% endif %} 
    </div>
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'bbcfuturemediablog'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
